[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
passlib = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-session = "*"
flask-sqlalchemy = "*"
pyjwt = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
