<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../assets/css/bb_login_pages.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
 <div class="" style="">
     <div class="row">
        <div class="col-6" style="padding-right: 0; padding-left:0 ;">    
            <img src="../assets/images/bb.jpg" width="100%"> 
     </div>
        <div class="col-6" style="padding-right: 0; padding-left:0 ;">
            <div class="login">
                <div class="login-header">
                  <h1>Login</h1>
                </div>
              <form action="" method="POST">
                <div class="login-form">
                  <h3>Login To Go To The Main Blood Bank Page</h3>
                  <input name = "email" type="text" placeholder="Username @ examble.com" required/><br>
                  <input name ="password" type="password" placeholder="Password" required/>
                  <br>
                  <input class="btn btn-default" type="submit" value="Login" required>
              </form>
                </div>
              </form>
              </div>
        </div>
   
 </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>



