<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/user_pages.css" />

    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-sm bg-light">
        <div class="container">
            <div class="d-flex align-items-center logoHeader">
                <img src="../assets/images/logo.jpg" width="50px" alt="" />
                <h2 class="pl-3 pt-3">
                    <span class="text-danger">B</span>lood
                    <span class="text-danger">B</span>ank
                </h2>
            </div>


            <!-- toggle button -->
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar links -->
            <div class="collapse navbar-collapse listItems"
                id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a href="/bank/home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/bank/donation-request" class="nav-link">
                            Donate Request</a>
                    </li>
                    <li class="nav-item mx-3 pr-5">
                        <a href="/bank/blood-request"
                            class="activebtn nav-link">
                            Blood Request</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container py-5">
        <div class="row justify-content-center  d-flex  m-3">
            <input required type="text" id="myInput" onkeyup="myFunction()"
                placeholder="Search for blood_requests by id.."
                class="form-control "><span
                style="font-size: 1.8rem; background-color:white; border-radius:5px; padding:5px ;color:black;text-align: center;font-size: 1.1rem;margin-left: 5px; cursor: pointer;"><i
                    style="width: 30px;" class="fa fa-search"></i></span>
        </div>
        <table class="table text-light bg-dark table-striped" id="myTable">
            <tr>
                <th scope="col">Order Id</th>
                <th scope="col">Hospital Name</th>
                <th scope="col">Hospital Address</th>
                <th scope="col">Amount</th>
                <th scope="col">Order Date</th>
                <th scope="col">Manage</th>
            </tr>
            {% for request in requests %}
            <tr>
                <td scope="col">{{request["id"]}}</td>
                <td>{{request["name"]}}</td>
                <td>{{request["address"]}}</td>
                <td>{{request["amount"]}}</td>
                <td>{{request["date"]}}</td>
                <td>
                    <a class="btn btn-primary"
                        href="/bank/blood-request/{{request['id']}}">Manage</a>
                </td>

            </tr>

            {% endfor %}
        </table>
    </main>
    <script src="../assets/js/donate_request.js">
    </script>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
        </script>
</body>

</html>
