<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/css/user_pages.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-sm">
        <div class="container Bank_home">
            <div class="d-flex align-items-center logoHeader">
                <img src="../assets/images/logo.jpg" width="50px" alt="">
                <h2 class="pl-3 pt-3"><span class="text-danger">B</span>lood
                    <span class="text-danger">B</span>ank
                </h2>
            </div>

            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse listItems"
                id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item"><a href="Bank_home.html"
                            class="nav-link">Home</a>
                    </li>
                    <li class="nav-item mx-3 pr-5"><a href="#"
                            class="activebtn nav-link">
                            Donate requests</a></li>                    
                    <li class="nav-item"><a href="Manage.html"
                        class="nav-link">
                        Manage</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container bank_home">
        <table class="table table-striped table-dark table-condensed">

            <thead>
                <tr>
                    <th scope="col" class="text-center">Donner Id</th>
                    <th scope="col">Donner Name</th>
                    <th scope="col">Birthdate</th>
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Has Diseases</th>
                    <th scope="col" class="col-md-auto">Last Treatment Date</th>
                    <th scope="col">Blood Class</th>
                    <th scope="col">Last Donation Date</th>
                    <th scope="col">Show</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-primary">Show</button></td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-primary">Show</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-primary">Show</button></td>
                </tr>
                <tr>
                <th scope="row">4</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-primary">Show</button></td>
            </tr>
            </tbody>

        </table>
    </div>


    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
