<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- CSS only -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" href="../assets/css/user_pages.css" />
        <title>Document</title>
    </head>

    <body>
        <nav class="navbar navbar-light navbar-expand-sm bg-light">
            <div class="container">
                <div class="d-flex align-items-center logoHeader">
                    <img src="../assets/images/logo.jpg" width="50px" alt="" />
                    <h2 class="pl-3 pt-3">
                        <span class="text-danger">B</span>lood
                        <span class="text-danger">B</span>ank
                    </h2>
                </div>

                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse listItems"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="/hospital/home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item mx-3 pr-5">
                            <a
                                href="/hospital/blood-request"
                                class="activebtn nav-link"
                            >
                                Blood requests</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container bank_home">
            <div class="row justify-content-center d-flex m-3">
                <input
                    type="text"
                    id="myInput"
                    onkeyup="myFunction()"
                    placeholder="Search for blood_requests by bankName.."
                    class="form-control"
                /><span
                    style="
                        font-size: 1.8rem;
                        background-color: white;
                        border-radius: 5px;
                        padding: 5px;
                        color: black;
                        text-align: center;
                        font-size: 1.1rem;
                        margin-left: 5px;
                        cursor: pointer;
                    "
                    ><i style="width: 30px" class="fa fa-search"></i
                ></span>
            </div>
            <table
                class="table table-striped table-dark table-condensed"
                id="myTable"
            >
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Request ID</th>
                        <th scope="col">Bank Name</th>
                        <th scope="col">Request Date</th>
                        <th scope="col">Bank Email</th>
                        <th scope="col">Bank Address</th>
                        <th scope="col">Number Of Bags</th>
                        <th scope="col">Blood Type</th>
                        <th scope="col">Blood Class</th>
                        <th scope="col">Status</th>
                        <th scope="col">Cases Ids</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Hrequest in Hrequests %}
                    <tr>
                        <td scope="row">{{Hrequest["requestid"]}}</td>
                        <td>{{Hrequest["name"]}}</td>
                        <td>{{Hrequest["date"]}}</td>
                        <td>{{Hrequest["email"]}}</td>
                        <td>{{Hrequest["concat"]}}</td>
                        <td>{{Hrequest["amount"]}}</td>
                        <td>{{Hrequest["type"]}}</td>
                        <td>{{Hrequest["bloodclass"]}}</td>
                        <td>{{Hrequest["status"]}}</td>
                        <td>{{Hrequest["bloodcases_list"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script src="../assets/js/hos_blood_requests.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
