<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />

    <title>Document</title>
    <style>
        span {
            position: absolute;
            color: red;
            display: none;
            padding: 10px 0;
        }

    </style>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-sm">
        <div class="container">
            <!-- logo -->
            <div class="d-flex align-items-center logoHeader">
                <img src="../../assets/images/logo.jpg" width="50px" alt="" />
                <h2 class="py-1 px-3 pt-3">
                    <span class="text-danger">B</span>lood
                    <span class="text-danger">B</span>ank
                </h2>
            </div>

            <!-- toggle button -->
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar links -->
            <div class="collapse navbar-collapse listItems"
                id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item mx-3 pr-5">
                        <a href="/bank/home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/bank/donation-request" class="nav-link">
                            Donate Request</a>
                    </li>
                    <li class="nav-item">
                        <a href="/bank/blood-request"
                            class="activebtn nav-link">
                            Blood Request</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container py-5">
        <table class="table">
            <tr>
                <!-- order information -->
                <td class="w-75">
                    <table class="table text-light bg-dark table-striped">
                        <tr>
                            <th class="w-25" scope="row">Order Id</th>
                            <td class="bg-light text-dark text-center">
                                {{data['request']['orderId']}}
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Hospital Name</th>
                            <td class="bg-light text-dark text-center">
                                {{data['request']['hospitalName']}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Hospital Address</th>
                            <td class="bg-light text-dark text-center">
                                {{data['request']['hospitalAddress']}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Amount</th>
                            <td id="amount"
                                class="bg-light text-dark text-center">
                                {{data['request']['amount']}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Blood Class</th>
                            <td class="bg-light text-dark text-center">
                                {{data['request']['bloodclass']}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Blood Type</th>
                            <td class="bg-light text-dark text-center">
                                {{data['request']['type']}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Order Date</th>
                            <td class="bg-light text-dark text-center">
                                {{data['request']['orderDate']}}
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-light text-dark" scope="row">
                                <form
                                    action="/bank/blood-request/{{data['request']['orderId']}}/accept"
                                    method="POST" id="acceptForm">
                                    <input type="submit" value="Accept"
                                        class="btn btn-primary" />
                                </form>
                            </td>
                            <form
                                action="/bank/blood-request/{{data['request']['orderId']}}/refuse"
                                method="POST">
                                <td class="bg-light text-dark text-center">
                                    <input class="btn btn-danger" type="submit"
                                        value="Refuse" required />
                                </td>
                            </form>
                        </tr>
                    </table>
                </td>
                <!-- to select blood bags -->
                <td class="w-25" style="position: relative;">
                    <h4 class="h4 text-muted">Select Blood Bags</h4>
                    <select name="caseid" form="acceptForm"
                        style="height: 280px" class="w-100 form-control"
                        id="example-getting-started" multiple="multiple">
                        {% for case in data['cases'] %}
                        <option class="py-2 px-3" value="{{case['id']}}">
                            {{case['id']}}
                        </option>
                        {% endfor %}
                    </select>
                    <span id="count-validate">selected pags should be
                        less than or equal amount</span>
                </td>
            </tr>
        </table>
    </main>
    <script src="../../assets/js/manage_request.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
