<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- -------style.css--------------------------------------------------------------------- -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/admin_pages.css" />
</head>

<body>
    <!------------------------------------ header----------------------------------------- -->
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="logo">
                    <img src="../assets/images/logo.jpg" alt="logo image"
                        draggable="false" />
                    <span class="logo-text"><span
                            class="first-letter">b</span>lood
                        <span class="second-letter">b</span>ank</span>
                </div>
                <!-- ./logo -->

                <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="nav">
                        <li><a href="/sys-admin">add hospital/bank</a></li>
                        <li>
                            <a href="/sys-admin/view-hospitals">hospitals</a>
                        </li>
                        <li>
                            <a class="active" href="/sys-admin/view-banks">bload
                                banks</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ./container-fluid -->
        </nav>
    </div>
    <!-- ./header -->

    <!------------------- start section to show table content of banks ---------------------->
    <div class="container">
        <div class="row justify-content-center  d-flex  m-3 mt-5">
            <input type="text" id="myInput" onkeyup="myFunction()"
                placeholder="Search for banks by Email.."
                class="form-control "><span
                style="font-size: 1.8rem; background-color:white; border-radius:5px; padding:5px ;color:black;text-align: center;font-size: 1.1rem;margin-left: 5px; cursor: pointer;"><i
                    style="width: 30px;" class="fa fa-search"></i></span>
        </div>
        <div class="row">
            <table class="table table-striped table-dark mt-3" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Info</th>
                        <th scope="col">Created At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bank in banks %}
                    <tr>
                        <td scope="row">{{bank["id"]}}</td>
                        <td>{{bank["name"]}}</td>
                        <td>{{bank["email"]}}</td>
                        <td>{{bank["concat"]}}</td>
                        <td>{{bank["phone"]}}</td>
                        <td>{{bank["info"]}}</td>
                        <td>{{bank["createdat"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- ./row -->
    </div>
    <!-- ./container -->
    <script src="../assets/js/show_hospitals.js">
    </script>
    <!-- -------------------------------------script files--------------------------------------- -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <!-- ======================================================================================= -->
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <!-- ======================================================================================= -->
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- ======================================================================================= -->
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- ======================================================================================= -->
</body>

</html>
