<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../assets/css/SignUP_IN_pages.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
 <div class="" style="">
     <div class="row">
        <div class="col-6" style="padding-right: 0; padding-left:0 ;">    
            <img src="../assets/images/hi.jpg" width="100%"> 
     </div>
        <div class="col-6" style="padding-right: 0; padding-left:0 ;">

            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>

                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <input id="user" type="text" placeholder="Username @ examble.com"  class="input" required>
                        </div>
                        <div class="group">
                            <input id="pass" type="password" placeholder="Password" class="input" data-type="password "required>
                        </div>
                       
                        <div class="group">
                            <input type="submit" class="button" value="Sign In" required>
                        </div>
                        <div class="hr"></div>
                    
                    </div>

                    <div class="sign-up-htm">
                        <div class="group">
                            <input id="user" type="text" placeholder="Name" class="input" required>
                        </div>
                        <div class="group">
                            <input id="pass" type="password" placeholder="Password" class="input" data-type="password" required>
                        </div>
                        <div class="group">
                            <input id="pass" type="password" placeholder="Confirm Password" class="input" data-type="password" required>
                        </div>
                        <div class="group">
                            <input id="pass" type="text"  placeholder="Email Address" class="input" required>
                        </div>
                        <div class="group">
                            <input id="gender" type="text"  placeholder="Gender" class="input" required>
                        </div>
                        <div class="group">
                            <input id="date" placeholder="BirthDay" class="input" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" required/>
                        </div>
                        <div class="group">
                            <select class="input"  type="text">
                                <option>Blood Type</option>
                                <option>A+</option>
                                <option>A-</option>
                                <option>B+</option>
                                <option>B-</option>
                                <option>AB+</option>
                                <option>AB-</option>
                                <option>O+</option>
                                <option>O-</option>
                              </select>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up" required>
                        </div>
                        <div class="hr"></div>
                </div>
            </div>
            
        </div>
   
    
        </div>
   
 </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>

