<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../assets/css/SignUP_IN_pages.css" />
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />
    <style>
        span {
            text-align: center;
            color: red;
            display: none;
        }

        input {
            outline: none;
        }

    </style>
</head>

<body>
    <div class="" style="">
        <div class="row">
            <div class="col-6" style="padding-right: 0; padding-left: 0">
                <img src="{{ url_for('static', filename='images/hi.jpg') }}"
                    width="100%" />
            </div>
            <div class="col-6" style="padding-right: 0; padding-left: 0">
                <div class="login-html">
                    <input id="tab-1" type="radio" name="tab" class="sign-in"
                        checked /><label for="tab-1" class="tab">Sign In</label>
                    <input id="tab-2" type="radio" name="tab"
                        class="sign-up" /><label for="tab-2" class="tab">Sign
                        Up</label>

                    <div class="login-form">
                        <div class="sign-in-htm">
                            <form action="/auth/signin" method="POST">
                                <div class="group">
                                    <input id="user" type="text"
                                        placeholder="Username @ examble.com"
                                        class="input" name="email" required />
                                </div>
                                <div class="group">
                                    <input id="pass" type="password"
                                        placeholder="Password" class="input"
                                        data-type="password" name="password"
                                        required />
                                </div>

                                <div class="group">
                                    <input type="submit" class="button"
                                        value="Sign In" />
                                </div>
                                <div class="hr"></div>
                            </form>
                        </div>

                        <div class="sign-up-htm">
                            <form action="/auth/signup" method="POST">
                                <div class="group" style="position: relative;">
                                    <input id="val-user" type="text"
                                        placeholder="Name" class="input"
                                        name="name" />
                                    <span
                                        style="position: absolute; left: 20px;"
                                        id="validate-name">Name al
                                        least 6
                                        char</span>
                                </div>
                                <div class="group" style="position: relative;">
                                    <input id="val-pass" type="password"
                                        placeholder="Password" class="input"
                                        data-type="password" name="password" />
                                    <span
                                        style="position: absolute; left: 20px;"
                                        id="validate-pass">password must be at
                                        least 6 char</span>
                                </div>
                                <div class="group" style="position: relative;">
                                    <input id="val-confpass" type="password"
                                        placeholder="Confirm Password"
                                        class="input" data-type="password"
                                        name="confirmPassword" />
                                    <span
                                        style="position: absolute; z-index: 3; left: 20px;"
                                        id="pass-conf-validation">password
                                        don't matched</span>
                                </div>
                                <div class="group" style="position: relative;">
                                    <input id="val-email" type="email"
                                        placeholder="Email Address"
                                        class="input" name="email" />
                                    <span
                                        style="position: absolute; left: 20px; top: 45px;"
                                        id="validate-email">email not match
                                        a@a.com</span>
                                </div>
                                <div class="group">
                                    <select class="input" name="gender">
                                        <option value="">Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">
                                            Female
                                        </option>
                                    </select>
                                </div>
                                <div class="group" style="position: relative;">
                                    <input id="val-age" placeholder="BirthDay"
                                        class="input" type="text"
                                        onfocus="(this.type='date')"
                                        onblur="(this.type='text')"
                                        name="birthdate" />
                                    <span
                                        style="position: absolute; left: 20px; top: 45px;"
                                        id="date-validate">age must be greater
                                        than 18 years and less than 50</span>
                                </div>
                                <div class="group">
                                    <select class="input" name="bloodClass">
                                        <option>Blood Type</option>
                                        <option>A+</option>
                                        <option>A-</option>
                                        <option>B+</option>
                                        <option>B-</option>
                                        <option>AB+</option>
                                        <option>AB-</option>
                                        <option>O+</option>
                                        <option>O-</option>
                                    </select>
                                </div>
                                <div class="group">
                                    <input type="submit" class="button"
                                        value="Sign Up" />
                                </div>
                                <div class="hr"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/signup_validation_user.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
